fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-core==2.23.4
anyio==4.4.0
typing-extensions>=4.8.0
python-dotenv==1.0.1
requests==2.32.3
loguru==0.7.2
colorama==0.4.6
orjson==3.10.7
sqlmodel==0.0.22
python-multipart==0.0.9
