---
import Layout from "../layouts/Layout.astro";
import AdminHeader from "../components/admin/AdminHeader.astro";
import AdminSidebar from "../components/admin/AdminSidebar.astro";

import CacheHeader from "../components/cache/CacheHeader.astro";
import CacheStats from "../components/cache/CacheStats.astro";

import CacheManager from "../islands/CacheManager";
---

<Layout>
  <AdminSidebar />

  <main class="flex-1 flex flex-col bg-gray-50">
    <AdminHeader />

    <section class="p-8">
      <CacheHeader
        title="Cache Manager"
        subtitle="Manage and monitor your database cache"
      />

      <CacheStats totalSchemas={5} totalTables={20} totalSize={"35.5"} />

      <!-- React Island -->
      <CacheManager client:only="react" />
    </section>
  </main>
</Layout>
